html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Chakra Petch', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  height: 100vh;
}

.hero-content {
  width: 50%;
  text-align: center;
  color: #000;
}

p {
  font-weight: 200;
  font-size: 18px;
  line-height: 30px;
}

a {
  margin-top: 30px;
  margin-right:10px;
  background-color: rgb(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  color: #F5F5F5;
  display: inline-block;
}

span.font-pair1a{
  font-family: 'Hind Madurai', sans-serif;
}

span.font-pair1b{
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
}

span.font-pair1c{
  font-family: 'Chakra Petch', sans-serif;
}



/* add your css below this line */

.hero-background {
  background: url("https://images.pexels.com/photos/5691475/pexels-photo-5691475.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat fixed center;
  background-size: cover;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-section-background {
  background: url("https://images.pexels.com/photos/5691475/pexels-photo-5691475.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat fixed bottom;
}

.second-section-background {
  background: url("https://images.pexels.com/photos/5691474/pexels-photo-5691474.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500") no-repeat fixed bottom;
}

.third-section-background {
  background: url("https://images.pexels.com/photos/2117937/pexels-photo-2117937.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat fixed bottom;
}

.with-background {
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 50px 0;
}

h1 {
  font-size: 50px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 30px;
  font-weight: 200;
  line-height: 40px;
}

h3 {
  font-size: 30px;
  font-weight: 200;
  line-height: 40px;
  margin: 0;
}

article {
  max-width: 50%;
  margin: 20px auto;
  border-radius: 10px;
  padding: 30px;
}

.first-article-container {
  background-color: #D3D3D3;
}

.second-article-container {
  background-color: #D3D3D3;
}

.third-article-container {
  background-color: #D3D3D3;
}
